#container {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    
    width: 100%;
      
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#backContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#backContainer a {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(92.42deg, var(--orange-light) 1.67%, var(--orange) 100.58%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 0;
    border-radius: 4rem;
    
    color: var(--white);
    font-size: 2rem;
}

#backContainer a:hover {
    filter: brightness(0.8);
    transition: filter 0.2s;
}

#backContainer div {
    width: 10rem;
    height: 4rem;
    background: linear-gradient(92.42deg, var(--orange-light) 1.67%, var(--orange) 100.58%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
}

#backContainer div span {
    font-size: 2rem;
    font-family: "Itim", sans-serif;
    color: var(--white);
}

#imageActions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#imageActions a {
    width: 10rem;
    padding: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 0.5rem;
    
    border-radius: 6px;
    border: 0;
    
    font-size: 1.125rem;
    color: var(--gray-50);
    font-weight: 700;
    
    cursor: pointer;
}

#delete {
    background: var(--red);
}

#update {
    background: var(--green);
}

#imageActions a:hover {
    filter: brightness(0.8);
    transition: 0.2s filter;
}

#imageContent {
    margin: 0 4rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#imageContent h1 {
    font-size: 2.5rem;
    color: var(--white);
}

#imageContent span {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    color: var(--gray-100);
}

#imageContent img {
    max-width: 60rem;
    width: 100%;
    height: 36rem;
    border-radius: 6px;
}



